<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Better Kopen</title>
    <link rel="stylesheet" th:href="@{/assets/css/reset.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/assets/css/nav-style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}" type="text/css">

    <meta charset="UTF-8"/>
</head>

<body>
<header id="header">
    <div th:replace="~{/components/navBar :: nav-bar}"></div>
</header>
<main>
<!--Category-->
    <div class="container">
        <section>
            <h2>Category</h2>

            <article>

                <form id="myForm" action="/search" method="post">

                    <input type="text" name="query" class="search_box pull-right form-control"
                           placeholder="Search for a product" aria-label="Search query"
                           aria-describedby="button-addon2">
                    <input type="submit" th:value="search">

                </form>

                <ul>
                    <li>SportWear</li>
                    <li>KIDS</li>
                    <li>FASHION</li>
                </ul>

            </article>
            <article>
                <h2>MARKETPLACE</h2>
            </article>
            <article>
                <h2>BRANDS</h2>
            </article>
            <article>
                <h2>PRICE RANGE</h2>
            </article>


        </section>

        <!--Features Items-->
        <section>
            <h2>Features Items</h2>
            <div class="card-group">  <!-- card group -->
                <div class="card" th:each="result: ${productList}">
                    <img th:src="${result.thumbnail}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${result.title}">Card title</h5>
                        <p th:text="${result.price}">publish_year</p>
                        <p th:text="${result.source}">publish_year</p>
                        <p th:text="${result.reviews}">publish_year</p>
                        <p th:text="${result.rating}">publish_year</p>
                        <a href="#" th:href="@{${result.getProduct_link()}}" class="btn btn-primary">View Product</a>
                    </div>
                </div>
            </div> <!-- end of card group -->
        </section>
    </div>

</main>
<footer th:replace="~{/components/footer :: footer}">  </footer>
</body>
</html>